[Unit]
Description=TrustSystem Admin Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/trustsystem

ExecStart=/opt/trustsystem/venv/bin/python run_admin.py

Restart=always
RestartSec=5

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
