[Unit]
Description=Run TrustSystem sync every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Unit=trustsystem-sync.service

[Install]
WantedBy=timers.target
